.widget {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
}

.widget > p {
    vertical-align: middle;
}

input.widget {
    border-color: rgb(158,158,158);
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    margin: 8px;
    box-shadow: inset 0 1px 3px #ddd;

    font-size: 13px;
    color: rgba(0,0,0,0.8);
}

select.widget {
    border-color: rgb(158,158,158);
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    margin: 8px;
    /*box-shadow: inset 0 1px 3px #ddd;*/

    font-size: 13px;
    color: rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.8);
}

select.widget:focus {
    outline: 1px solid #709aa4;
}

button.widget {
    color: rgba(0,0,0,0.8);
    background-color: #eaeaea;
    padding: 6px 10px;  /* Top-bottom right-left */
    margin: 8px;
    border-width: 0;
    cursor: pointer;
}

button.widget:hover {
    box-shadow: 3px 3px 3px #a4a4a4;
}

button.widget:active {
    box-shadow: 0px 0px 0px #a4a4a4;
}

button.widget:focus {
    outline: 1px solid #709aa4;
}